<html>
<body>
<h1>Create an account</h1>

<table>
<form method="post" action="/users/">

   <tr>
   <td><label for="name">Your Name</label></td>
	<td><input type="text" name="name" /></td>
   </tr>

   <tr>
	<td><label for="password">Your Password</label></td>
	<td><input type="text" name="password" /></td>
   </tr>

   <tr>
	<td><label for="password2">Your Password (again)</label></td>
	<td><input type="text" name="password2" /></td>
   </tr>

   <tr>
   <td></td>
	<td><input type="submit" value="Signup" /></td>
   </tr>

</form>
</table>

</body>
</html>
